<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.text_field :name, autofocus: true, class: "form-inputs-registration", placeholder: 'Name' %>
  </div>

  <div class="field">
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-inputs-registration",  placeholder: 'Email' %>
  </div>

  <div class="field">
    <%= f.password_field :password, autocomplete: "new-password", class: "form-inputs-registration", placeholder: 'Password' %>
  </div>

  <div class="field">
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-inputs-registration",  placeholder: 'Confirm Password'%>
  </div>

  <div class="other-links">
    <%= f.submit "Sign up" %>
    <%= render "devise/shared/links", class: 'login' %>
  </div>
<% end %>


