<section>
  <%= button_to 'Sign out', destroy_user_session_path, method: :delete, class: "submit-button" %>
  <% @all_users.each do |user| %>
    <div class='each-user'>
    <div class='user-image'><%= user.photo %></div>
    <div class='user-activity'>
      <h1><%= link_to user.name, user_path(user.id) %></h1>
      <p>Number of posts: <%= user.posts_counter %></p>
      <%= link_to 'All Posts', user_posts_path(user) %>
    </div>
    </div>
  <% end %>
</section>